In [141]:
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split

In [2]:
#Pour utilisation par romain
base_url = '/home/romainj/code/RomainJupille/data-challenges/08-Projects/raw_data/transformed_data'

In [3]:
file = [
'summary_discharge_capacity.csv',
'summary_discharge_energy.csv',         
'summary_energy_efficiency.csv',          
'summary_energy_throughput.csv',                                        
'summary_temperature_average.csv',
'summary_charge_capacity.csv',
'summary_charge_duration.csv',
'summary_charge_throughput.csv',
'summary_charge_energy.csv',
'summary_temperature_average.csv',
'summary_temperature_minimum.csv',
'summary_temperature_maximum.csv',
'summary_time_temperature_integrated.csv',
'summary_dc_internal_resistance.csv'
]

In [6]:
def get_df(n):
    file_name = file[n]
    path = '/'.join([base_url,file_name])
    df = pd.read_csv(path).drop(columns = 'barcode')
    return df

**Checking that all the df (for the feature at least, don't have any nan)**

In [106]:
df = get_df(0)
nb_nan = df.isna().sum(axis=1)
first_nan = 3000 - nb_nan
for i in range(df.shape[0]):
    assert(df.iloc[i,:first_nan[i]].isna().sum() == 0)
    assert(df.iloc[i,first_nan[i]:].isna().sum() == nb_nan[i])

In [219]:
deep = 20
offset = 15
features = [0,1]

**features construction**

SHAPE = (n_samples, deep, n_features)

In [108]:
df0 = get_df(0)
df1 = get_df(1)

dfs = [df0,df1]

In [109]:
(3000 - dfs[0].iloc[0,:].isna().sum() - deep)//offset

34

In [218]:
features

[0, 1]

In [112]:
for k in features:
    print(k)

0
1

In [142]:
list = np.arange(135)
train_indexes, test_indexes = train_test_split(list, test_size = 0.3)

In [173]:
dfs[0]

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
0,1.955971,1.068216,1.071550,1.073284,1.074313,1.074273,1.075073,1.075461,1.074811,1.075690,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.537629,1.045153,1.046273,1.047224,1.048035,1.048500,1.048976,1.049321,1.049631,1.049959,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.562989,1.067762,1.068419,1.068996,1.069544,1.070147,1.070362,1.070570,1.069472,1.070858,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.674372,1.076245,1.079046,1.080172,1.080708,1.081207,1.081473,1.081749,1.081788,1.082202,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1.678763,1.069159,1.070689,1.071900,1.072510,1.073174,1.073576,1.073992,1.074374,1.074492,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,1.958772,1.076097,1.080285,1.081616,1.082426,1.082781,1.082832,1.083071,1.083074,1.083026,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,1.956454,1.069215,1.072897,1.074119,1.074464,1.075239,1.075158,1.075016,1.075095,1.075240,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,1.964659,1.078678,1.083104,1.084736,1.085765,1.086406,1.086443,1.086896,1.086897,1.087063,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,1.544849,1.050058,1.051451,1.052050,1.052690,1.053132,1.053410,1.053398,1.053577,1.053582,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,1.564186,1.068368,1.069483,1.070338,1.070908,1.071424,1.071818,1.072151,1.072294,1.072488,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [198]:
dfs[0].iloc[1,:].isna().sum()

2174

In [226]:
np_features = None
target = []
for i in range(dfs[0].shape[0]):
    nb_nan = dfs[0].iloc[i,:].isna().sum()
    for j in range((3000 - nb_nan - deep)//offset):
        sample = np.zeros((deep,len(features)))
        for k in features:
            sample[:,k] = np.array(dfs[k].iloc[i,offset * j:offset*j + deep])
        if np_features is None:
            np_features = sample.reshape(1,20,2)
        else:
            np_features = np.concatenate([np_features,sample.reshape(1,20,2)], axis = 0)    
        
        target.append(3000 - (offset*i + deep + nb_nan))

target = np.array(target)

In [227]:
np.isnan(np_features).sum()

0

In [228]:
np_features.shape

(7378, 20, 2)

In [217]:
dfs[0].iloc[1,525:545]

525    1.023751
526    1.023481
527    1.023519
528    1.023416
529    1.023225
530    1.023061
531    1.022848
532    1.022884
533    1.022746
534    1.022595
535    1.022451
536    1.022356
537    1.022240
538    1.022204
539    1.022177
540    1.021942
541    1.021752
542    1.020406
543    1.021622
544    1.021542
Name: 1, dtype: float64

In [203]:
53 * 15

795

In [229]:
str = '0001'

In [230]:
int(str)

1

In [233]:
ID = int(str)+1
ID

2

In [ ]:
str_ID =

13

In [191]:
np_features.shape

(53, 20, 2)

In [192]:
np.isnan(np_features).sum()

339

In [156]:
(3000 - dfs[0].iloc[0,:].isna().sum() - deep)//offset

34

In [157]:
target.shape

(34,)

In [ ]:
nb_nan = df.iloc[0,:].isna().sum()
            target = 3000 - (offset*i + deep + nb_nan)
            target

In [92]:
a = np.array(df.iloc[0,offset * i:offset*i + deep])

In [93]:
b = np.array(df.iloc[1,offset * i:offset*i + deep])

In [94]:
np.stack([a,b], axis = 0)

(2, 20)

In [71]:
3000 - nb_nan

543

In [66]:
target

503

In [ ]:
for i in range(df.shape[0]):
    keep = True
    while keep == True: